@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.woff2') format('woff2'), url('../fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style-type: none;
}
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  outline: none;
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #221f1f;
}
.wrapper {
  min-width: 1100px;
  overflow: hidden;
}
.container {
  width: 1060px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}
.container-form {
  width: 560px;
  padding: 50px 70px;
  margin: 0 auto;
  background: #f3f3f3;
}
.header,
.footer {
  background-color: #4b73b5;
  color: #fff;
}
.header {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 35px;
}
.header--main {
  margin-bottom: 0;
}
.center > .container,
.header > .container,
.footer > .container {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.header > .container,
.footer > .container {
  -webkit-box-align: center;
          align-items: center;
}
.sidebar {
  width: 180px;
}
.sidebar--main {
  padding-top: 35px;
}
.content {
  width: 880px;
}
.banner {
  height: 300px;
  margin-right: -104px;
  background: url(../image/banner.png) no-repeat center;
}
.section-title {
  font-size: 3.5em;
  font-weight: 700;
  margin-bottom: 70px;
  line-height: 4rem;
}
.section-title--form {
  margin-bottom: 25px;
}
.feedback {
  margin-bottom: 50px;
}
.btn {
  width: 155px;
  height: 45px;
  padding-right: 30px;
  background: url(../image/plane_icon_btn.png) no-repeat 120px 15px, #4b73b5;
  border-radius: 3px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 0.8571em;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: 0.15s background-color linear;
  transition: 0.15s background-color linear;
}
.btn:hover {
  color: #4b73b5;
  background: url(../image/plane_icon_btn_hover.png) no-repeat 120px 15px, #fff;
}
.btn:active {
  box-shadow: inset 0 0 5px #ccc;
}
.footer {
  padding-top: 15px;
  padding-bottom: 15px;
}
.contacts {
  text-align: right;
  position: relative;
  font-style: normal;
}
.contacts__phone {
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  display: block;
}
.contacts__timework {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'OpenSans', sans-serif;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  -webkit-transition: .2s all linear;
  transition: .2s all linear;
}
.contacts__timework:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}
.contacts__timework:hover + .contacts__popup {
  display: block;
}
.contacts__popup {
  display: none;
  position: absolute;
  top: 60px;
  right: 0;
  width: 129px;
  background: #ffffff;
  z-index: 5;
  padding: 18px;
  border-radius: 3px;
  text-align: left;
  box-shadow: 2.5px 4.3px 5px rgba(0, 0, 0, 0.2);
}
.contacts__popup-days {
  color: #4b73b5;
  font-weight: 700;
  margin-bottom: 10px;
}
.contacts__popup-dinner {
  color: #221f1f;
}
.contacts__popup::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: -13px;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 13px 14px 13px;
  border-radius: 3px;
  border-color: transparent transparent #ffffff transparent;
}
.menu__item {
  color: #4b73b5;
  font-size: 0.8571em;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.menu__item.active > .menu__link {
  color: #000;
}
.menu__link {
  padding: 5px 0 5px 40px;
  background: no-repeat center left;
  line-height: 1.6;
}
.menu__link:hover {
  color: #000;
}
.menu__link--plane {
  background-image: url(../image/plane_icon.png);
}
.menu__link--star {
  background-image: url(../image/star_icon.png);
}
.menu__link--cap {
  background-image: url(../image/cap_icon.png);
}
.menu__item.active > .menu__link--plane,
.menu__link--plane:hover {
  background-image: url(../image/plane_icon_hover.png);
}
.menu__item.active > .menu__link--star,
.menu__link--star:hover {
  background-image: url(../image/star_icon_hover.png);
}
.menu__item.active > .menu__link--cap,
.menu__link--cap:hover {
  background-image: url(../image/cap_icon_hover.png);
}
.tariffs > .section-title {
  margin-bottom: 25px;
}
.tariffs__list {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
}
.tariffs__item {
  margin-bottom: 35px;
}
.tariffs__link {
  display: block;
  box-sizing: border-box;
  width: 250px;
  padding: 45px 25px;
  border: 1px solid transparent;
}
.tariffs__link:hover {
  border: 1px solid #e8e9ed;
  border-radius: 5px;
}
.tariffs__img {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 35px;
}
.tariffs__img--flower {
  background: url(../image/flower.png) no-repeat center, #4b73b5;
}
.tariffs__img--star {
  background: url(../image/star.png) no-repeat center, #4b73b5;
}
.tariffs__img--palette {
  background: url(../image/palette.png) no-repeat center, #4b73b5;
}
.tariffs__head {
  color: #212121;
  font-size: 0.7857em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 30px;
}
.tariffs__subs,
.tariffs__plus {
  font-size: 1.286em;
  margin-bottom: 18px;
}
.tariffs__subs {
  text-align: center;
  line-height: 1.5;
}
.tariffs__plus::before {
  content: "\2022";
  color: #221f1f;
  margin-right: 30px;
}
.tariffs__price {
  text-align: center;
  color: #202020;
  font-size: 2.357em;
}
.tariffs__number {
  color: #212121;
  font-size: 1.636em;
}
.review__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}
.review__img {
  min-width: 190px;
  height: 190px;
  border-radius: 50%;
  margin-right: 20px;
}
.review__block {
  width: 670px;
}
.review__date {
  color: #656464;
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 10px;
}
.review__title,
.review__text {
  color: #221f1f;
  font-size: 1.286em;
}
.review__title {
  font-weight: 700;
  margin-bottom: 15px;
}
.review__text {
  font-weight: 300;
  line-height: 1.8;
}
.pagination {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  text-align: center;
  width: 370px;
  margin: 0 auto 70px;
  font-family: 'Roboto', sans-serif;
}
.pagination__text {
  color: #656464;
  font-weight: 300;
  padding: 9px 5px;
}
.pagination__navbar {
  color: #221f1f;
}
.pagination__list,
.pagination__item {
  display: inline-block;
}
.pagination__control,
.pagination__link {
  font-weight: 700;
}
.pagination__control {
  font-size: 1.571em;
  padding: 5px 10px;
}
.pagination__control.disabled {
  opacity: 0.3;
  pointer-events: none;
}
.pagination__list {
  font-size: 0;
}
.pagination__item {
  font-size: 1rem;
}
.pagination__item.active {
  background-color: #4b73b5;
  border-radius: 3px;
  color: #fff;
}
.pagination__item.active > .pagination__link {
  pointer-events: none;
}
.pagination__link {
  display: block;
  padding: 3px 8px;
}
.pagination__link:hover {
  color: #4b73b5;
}
.info {
  color: #fff;
  font-weight: 300;
}
.info__text {
  width: 260px;
  line-height: 1.4;
}
.info__link {
  font-weight: 700;
  color: #d2def3;
  -webkit-transition: .15s all linear;
  transition: .15s all linear;
}
.info__link:hover {
  color: #fff;
}
.info__link--school {
  border-bottom: 1px solid #d2def3;
}
.info__link--school:hover {
  border-bottom: 1px solid #fff;
}
.social {
  color: #fff;
}
.social__title {
  margin-bottom: 7px;
}
.social__item {
  display: inline-block;
  margin-right: 13px;
  background: #d2def3;
  border-radius: 50%;
  -webkit-transition: .15s all linear;
  transition: .15s all linear;
}
.social__item:hover {
  background: #fff;
}
.social__link {
  display: block;
  width: 20px;
  height: 20px;
  background: no-repeat center;
}
.social__link--vk {
  background-image: url(../image/vk_icon.png);
}
.social__link--fb {
  background-image: url(../image/fb_icon.png);
}
.social__link--gplus {
  background-image: url(../image/gplus_icon.png);
}
.social__link--tw {
  background-image: url(../image/tw_icon.png);
}
.social__link--email {
  background-image: url(../image/email_icon.png);
}
.breadcrumbs {
  display: -webkit-box;
  display: flex;
  font-style: italic;
  opacity: 0.8;
  margin-bottom: 25px;
}
.breadcrumbs__item::after {
  content: '/';
  margin-right: 5px;
}
.breadcrumbs__item:last-child::after {
  content: '';
}
.breadcrumbs__link {
  color: #4b73b5;
  border-bottom: 1px solid #4b73b5;
}
.sentence {
  font-size: 1.286em;
  color: #fff;
  margin-bottom: 55px;
  background: #4bb56b;
}
.sentence .container {
  background: url(../image/booking_bg.jpg) no-repeat center;
}
.sentence__text {
  width: 630px;
  margin: 0 auto;
  font-weight: 300;
  line-height: 1.8;
  padding: 45px 0;
}
.sentence__link {
  color: #fff;
  font-weight: 700;
}
.sentence__link--site {
  border-bottom: 1px solid #fff;
}
.sentence__link--site:hover {
  border-bottom: 1px dashed #fff;
}
.feedback-form__top {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.feedback-form__top > .feedback-form__item {
  width: 48%;
}
.feedback-form__item {
  display: block;
  margin-bottom: 20px;
}
.feedback-form__head {
  display: block;
  margin-bottom: 10px;
}
.feedback-form__input {
  width: 100%;
  outline: none;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 10px;
}
.feedback-form__input::-webkit-input-placeholder {
  opacity: 0.5;
}
.feedback-form__input:-ms-input-placeholder {
  opacity: 0.5;
}
.feedback-form__input::placeholder {
  opacity: 0.5;
}
.feedback-form__input--textarea {
  resize: none;
  height: 90px;
}
.feedback-form__input:focus {
  border: 1px solid #4b73b5;
}
.feedback-form__bottom {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}
.feedback-form__bottom > .feedback-form__item {
  margin-bottom: 0;
}
.feedback-form__radio-block {
  display: -webkit-box;
  display: flex;
}
.feedback-form__radio-item {
  width: 55px;
  margin-right: 15px;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
}
.feedback-form__radio-input {
  display: none;
}
.feedback-form__radio-input:checked + .feedback-form__radio-custom {
  border: 1px solid #4b73b5;
}
.feedback-form__radio-input:checked + .feedback-form__radio-custom > .feedback-form__radio-center {
  background: #4b73b5;
}
.feedback-form__radio-custom {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #c9c9c9;
}
.feedback-form__radio-custom > .feedback-form__radio-center {
  position: absolute;
  top: 5px;
  left: 5px;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
