body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #221f1f;
}

.wrapper {
	min-width: 1100px;
	overflow: hidden;
}

.container {
	display: flex;
	justify-content: space-between;
	width: 1060px;
	margin: 0 auto;
	padding-right: 20px;
	padding-left: 20px;

	&-form {
		max-width: 560px;
		padding: 50px 70px;
		margin: 0 auto;
		background: #f3f3f3;
		box-sizing: border-box;
	}
}

.header, .footer {
	background-color: #4b73b5;
	color: #fff;
}

.header,
.footer {
	padding-top: 15px;
	padding-bottom: 15px;
}

.header {
	margin-bottom: 35px;

	&--main {
		margin-bottom: 0;
	}
}

.header > .container,
.footer > .container {
	align-items: center;
}

.sidebar {
	width: 16.98%; // 180px

	&--main {
		padding-top: 35px;
	}
}

.content {
	width: 83.02%; // 880px
}

.banner {
	height: 300px;
	margin-right: -104px;
	background: url(../image/banner.png) no-repeat center;
}

.section-title {
	font-size: 3.5em; // 49px
	font-weight: 700;
	margin-bottom: 70px;
	line-height: 4rem;

	&--form {
		margin-bottom: 25px;
	}

	&--partners {
		margin-bottom: 35px;
	}
}

.feedback {
	margin-bottom: 50px;
}