.menu {
	&__item {
		color: #4b73b5;
		font-size: 0.8571em;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 30px;

		&.active  > .menu__link {
			color: #000;
			pointer-events: none;
		}
	}

	&__link {
		padding: 5px 0 5px 40px;
		background: no-repeat center left;
		line-height: 1.6;
		
		&:hover {
			color: #000;
		}
	
		&--plane {
			background-image: url(../image/plane_icon.png);
		}
		&--star {
			background-image: url(../image/star_icon.png);
		}
		&--cap {
			background-image: url(../image/cap_icon.png);
		}
	}
}

.menu__item.active > .menu__link--plane,
.menu__link--plane:hover {
	background-image: url(../image/plane_icon_hover.png);
}

.menu__item.active > .menu__link--star,
.menu__link--star:hover {
	background-image: url(../image/star_icon_hover.png);
}

.menu__item.active > .menu__link--cap,
.menu__link--cap:hover {
	background-image: url(../image/cap_icon_hover.png);
}