.sentence {
	font-size: 1.286em; // 18px
	color: #fff;
	margin-bottom: 30px;
	background: url(../image/booking_bg.jpg);
	padding: 30px 14px 27px;
	text-align: center;

	&__text {
		font-weight: 300;
		line-height: 1.8;
	}

	&__link {
		display: inline-block;
		color: #fff;
		font-weight: 700;
		transition: .3s ease;

		&:hover {
			color: rgba(255, 255, 255, .7);
		}
		
		&--site {
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}
}