.social {
	color: #fff;

	&__title {
		margin-bottom: 7px;
	}

	&__item {
		display: inline-block;
		margin-right: 13px;
		background: #d2def3;
		border-radius: 50%;
		transition: .15s all linear;

		&:hover {
			background: #fff;
		}
	}

	&__link {
		display: block;
		width: 20px;
		height: 20px;
		background: no-repeat center;

		&--vk {
			background-image: url(../image/vk_icon.png);
		}

		&--fb {
			background-image: url(../image/fb_icon.png);
		}

		&--gplus {
			background-image: url(../image/gplus_icon.png);
		}

		&--tw {
			background-image: url(../image/tw_icon.png);
		}

		&--email {
			background-image: url(../image/email_icon.png);
		}
	}
}