.social {
	color: #221f1f;
	text-align: center;

	&__title {
		margin-bottom: 7px;
	}

	&__item {
		display: inline-block;
		margin-right: 13px;
		border-radius: 50%;
		transition: .15s all linear;

		&:hover {
			background: #d2def3;
		}
	}

	&__link {
		display: block;
		width: 20px;
		height: 20px;
		background: no-repeat center;
		.iconsheet;

		&--vk {
			.icon(-6px, -488px);
		}

		&--fb {
			.icon(-3px, -112px);
		}

		&--gplus {
			.icon(-7px, -143px);
		}

		&--tw {
			.icon(-5px, -460px);
		}

		&--email {
			.icon(-6px, -81px);
		}
	}
}